/* 
Randvoorwaarden
De kleuren die gebruikt zijn: hsl(212, 36%, 90%) en hsl(212, 43%, 65%) en hsl(208, 48%, 47%);
Zorg dat de container 900px breed is
Vlak 2 en 7 zijn donkerder dan de rest en de cijfers staan altijd in het midden
De kolommen en rijen zijn allemaal gelijke fracties 
*/

body {
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.container {
    width: 100%;
    background-color: hsl(212, 36%, 90%);
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(9, 213px);
    grid-template-areas:
        ". a"
        "b c"
        "b d"
        "e ."
        ". f"
        "g g"
        ". h"
        "i i"
        "j .";
}

.item {
    background-color: hsl(212, 43%, 65%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 600px) {
    .container {
        width: 900px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(7, 213px);
        grid-template-areas:
            ". . . a"
            "b b c ."
            "b b d e"
            ". . . ."
            ". f g g"
            "h i g g"
            "j . . .";
    }
}


#item-1 {
    grid-area: a;
}

#item-2 {
    grid-area: b;
    background-color: hsl(208, 48%, 47%);
}

#item-3 {
    grid-area: c;
}

#item-4 {
    grid-area: d;
}

#item-5 {
    grid-area: e;
}

#item-6 {
    grid-area: f;
}

#item-7 {
    grid-area: g;
    background-color: hsl(208, 48%, 47%);
}

#item-8 {
    grid-area: h;
}

#item-9 {
    grid-area: i;
}

#item-10 {
    grid-area: j;
}